@import '../../scss/variables';
@import '../../scss/mixins';

.landing-header {
  // border: 2px dotted blue;
  height: 150px;
  width: 100%;
  padding: 0 15%;
  @include flex(space-between, row);
  position: fixed;

  img {
    // border: 2px dotted green;
    height: 60px;
  }
}

// .container {
//   border: 2px dotted yellowgreen;
//   width: 70%;
//   margin: 0 auto;
//   @include flex(space-between, row);
// }