@import '../../scss/variables';
@import '../../scss/mixins';

header {
  // border: 2px dotted blue;
  height: 150px;
  width: 100%;
  @include flex(center, row);
  position: fixed;

  img {
    // border: 2px dotted green;
    height: 60px;
  }
}

.container {
  // border: 2px dotted yellowgreen;
  width: 70%;
  @include flex(space-between, row);
}