@import '../../scss/variables';
@import '../../scss/mixins';

.landing-main {
  // border: 2px dotted red;
  height: 100vh;
  @include flex(center, row);
}

.landing-content {
  // border: 2px dotted yellowgreen;
  width: 900px;
  color: $gray;
  padding: 30px;
  @include flex(space-between, row);
}

.landing-info {
  // border: 2px dotted blue;
  width: 400px;
  text-align: left;
  height: 300px;
  @include flex(space-between, column);
  align-items: flex-start;
  transition: .2s;
  animation: flyInRight 1s ease-in-out;

  p {
    line-height: 1.5em;
    text-transform: initial;
  }
}

.budget-preview {
  // border: 2px dotted rebeccapurple;
  width: 380px;
  padding: 25px 10px;
  @include flex(space-evenly, column);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
  transition: .2s;
  animation: flyInLeft 1s ease-in-out;

  h2 {
    // @include border(green);
    margin-bottom: 20px;
    width: 320px;
    text-align: left;
  }
}

.transaction {
  border: 1px solid $red;
  height: 40px;
  width: 320px;
  border-radius: 20px;
  @include flex(space-between, row);
  padding: 0 10px;
  margin: 10px 0;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
  
  span {
    font-size: .7em;
    font-weight: 700;
  }
}

.trans-content {
  // border: 2px dotted pink;
  width: 230px;
  @include flex(space-between, row);

  span {
    font-size: 1.2em;
  }
}

.landing-footer {
  height: 50px;
  width: 100%;
  background-color: $purple;
  position: absolute;
  bottom: 0;
  color: #fff;
  @include flex(space-around, row);

  p {
    font-weight: 700;
    text-transform: initial;
    color: white;
  }

  img {
    height: 25px;
    margin: 0 10px;
  }
}

@media(max-width: 900px) {
  .landing-info {
    transform: scale(.85);
    height: 340px;

    h1 {
      font-size: 2em;
    }
  }
  
  .budget-preview {
    transform: scale(.9);
  }

  .landing-content {
    width: 700px;
  }
}

@media(max-width: 700px) {
  .landing-footer{

    p {
      display: none;
    }
  }

  .landing-main {
    flex-direction: column;
    justify-content: flex-start;
  }

  .landing-content {
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 0;
    margin-top: 350px;
  }

  .landing-info {
    transform: scale(1);
    width: 90%;
    height: 200px;
    align-items: center;
    margin: 0;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
  
  .budget-preview {
    display: none;
  }
  
  #sign-in {
    width: 300px;
  }
}