.landing-main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing-content {
  width: 900px;
  color: #666;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing-info {
  width: 400px;
  text-align: left;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-animation: flyInRight 1s ease-in-out;
          animation: flyInRight 1s ease-in-out;
}

.landing-info p {
  line-height: 1.5em;
  text-transform: initial;
}

.budget-preview {
  width: 380px;
  padding: 25px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-animation: flyInLeft 1s ease-in-out;
          animation: flyInLeft 1s ease-in-out;
}

.budget-preview h2 {
  margin-bottom: 20px;
  width: 320px;
  text-align: left;
}

.transaction {
  border: 1px solid #EE6352;
  height: 40px;
  width: 320px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
  margin: 10px 0;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.transaction span {
  font-size: .7em;
  font-weight: 700;
}

.trans-content {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.trans-content span {
  font-size: 1.2em;
}

.landing-footer {
  height: 50px;
  width: 100%;
  background-color: #484D6D;
  position: absolute;
  bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landing-footer p {
  font-weight: 700;
  text-transform: initial;
  color: white;
}

.landing-footer img {
  height: 25px;
  margin: 0 10px;
}

@media (max-width: 900px) {
  .landing-info {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    height: 340px;
  }
  .landing-info h1 {
    font-size: 2em;
  }
  .budget-preview {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .landing-content {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .landing-footer p {
    display: none;
  }
  .landing-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .landing-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: auto;
    padding: 0;
    margin-top: 350px;
  }
  .landing-info {
    -webkit-transform: scale(1);
            transform: scale(1);
    width: 90%;
    height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .landing-info h1 {
    text-align: center;
  }
  .landing-info p {
    text-align: center;
  }
  .budget-preview {
    display: none;
  }
  #sign-in {
    width: 300px;
  }
}
/*# sourceMappingURL=Landing.css.map */