@import '../../scss/variables';
@import '../../scss/mixins';

.landing-main {
  // border: 2px dotted red;
  height: 100vh;
  @include flex(center, row);
}

.landing-content {
  // border: 2px dotted yellowgreen;
  width: 900px;
  color: $gray;
  @include flex(space-between, row);
}

.landing-info {
  // border: 2px dotted blue;
  width: 400px;
  text-align: left;
  height: 300px;
  @include flex(space-between, column);
  align-items: flex-start;
  animation: flyInRight 1s ease-in-out;

  p {
    line-height: 1.5em;
    text-transform: initial;
  }
}

.budget-preview {
  // border: 2px dotted rebeccapurple;
  width: 420px;
  padding: 25px 10px;
  @include flex(space-evenly, column);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
  animation: flyInLeft 1s ease-in-out;

  h2 {
    // @include border(green);
    margin-bottom: 20px;
    width: 350px;
    text-align: left;
  }
}

.transaction {
  border: 1px solid $red;
  height: 40px;
  width: 350px;
  border-radius: 20px;
  @include flex(space-between, row);
  padding: 0 10px;
  margin: 10px 0;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
  
  span {
    font-size: .7em;
    font-weight: 700;
  }
}

.trans-content {
  // border: 2px dotted pink;
  width: 230px;
  @include flex(space-between, row);

  span {
    font-size: 1.2em;
  }
}

.landing-footer {
  height: 50px;
  width: 100%;
  background-color: $purple;
  position: absolute;
  bottom: 0;
  color: #fff;
  @include flex(space-around, row);

  p {
    font-weight: 700;
    text-transform: initial;
    color: white;
  }

  img {
    height: 25px;
    margin: 0 10px;
  }
}