@import '../../scss/mixins';
@import '../../scss/variables';

.expense {
    border: 1px solid $red;
    height: 40px;
    width: 350px;
    border-radius: 20px;
    @include flex(space-between, row);
    padding: 0 10px;
    margin: 10px 0;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    cursor: pointer;
    
    span {
      font-size: .7em;
      font-weight: 700;
    }
  }
  
  .expense-content {
    // border: 2px dotted pink;
    width: 230px;
    @include flex(space-between, row);
  
    span {
      font-size: 1.2em;
    }
  }

.income {
    border: 1px solid $blue;
    height: 40px;
    width: 350px;
    border-radius: 20px;
    @include flex(space-between, row);
    padding: 0 10px;
    margin: 10px 0;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    cursor: pointer;
    
    span {
      font-size: .7em;
      font-weight: 700;
    }
  }
  
  .income-content {
    // border: 2px dotted pink;
    width: 230px;
    @include flex(space-between, row);
  
    span {
      font-size: 1.2em;
    }
  }