@import '../../scss/variables';
@import '../../scss/mixins';

.dash-header {
    // @include border(red);
    @include flex(center, row);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 0;
}

.dash-head-container {
    // @include border(yellowgreen);
    @include flex(space-between, row);
    padding: 0 20px;
    width: 85vw;
}

.dash-head-logo {
    height: 60px;
}

.dash-head-icon {
    display: none;
}

.dash-nav {
    // @include border(green);
    @include flex(space-between, row);
    width: 320px;
}

.user {
    // @include border(orange);
    @include flex(space-between, row);
    cursor: pointer;

    img {
        border-radius: 50%;
        height: 40px;
        margin-right: 10px;
    }

    p {
        text-decoration: none;
    }
}

.sign-out {
    width: 150px;

    &:hover {
        background-color: $red;
    }
}