@import '../../scss/mixins';
@import '../../scss/variables';

.profile-header {
    // @include border(red);
    @include flex(center, row);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 0;
}

.profile-head-container {
    // @include border(yellowgreen);
    @include flex(space-between, row);
    padding: 0 20px;
    width: 85vw;
}

.profile-head-logo {
    height: 60px;
}

.profile-head-icon {
    display: none;
}

.to-budget {
    width: 200px;

    &:hover {
        background-color: $green;
    }
}

.to-budget-mobile {
    display: none;
}

.profile-nav {
    // @include border(green);
    @include flex(space-between, row);
    width: 400px;
}

.profile-logout {
    display: none;
}