@import '../scss/reset';
@import '../scss/variables';
@import url("https://use.typekit.net/zsi5xde.css");
    // font-family: oscine, sans-serif;
    // font-family: aglet-slab, sans-serif;

.App {
    text-align: center;
    font-family: oscine, sans-serif;
    letter-spacing: .1em;
    background-color: $white;
    text-transform: capitalize;
}

button {
    border: none;
    color: #fff;
    background-color: $purple;
    font-family: oscine, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    height: 40px;
    width: 100px;
    letter-spacing: .12em;
    outline: none;
    transition: .2s;
    
    &:hover {
        background-color: $light-purple;
    }
}

h1 {
    color: $purple;
    font-family: aglet-slab, sans-serif;
    font-weight: 700;
    font-size: 3em;
}

h2 {
    color: $purple;
    font-size: 1.5em;
    font-weight: 700;
}

p {
    text-transform: initial;
}

input {
    text-transform: capitalize;
    color: $gray;
    letter-spacing: .1em;
    outline: none;
}

.focused {
    transform: scale(1.1);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
    padding: 0 10px;
    background-color: white;
    
    input {
        background-color: rgb(243, 243, 243);
        padding: 12px 12px;
    }
}

.hidden {
    display: none;
}

.blank {
    visibility: hidden;
    margin: 0;
    padding: 0;
}

@keyframes flyInDown {
    0% {
       opacity: 0; 
       transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flyInRight {
    0% {
       opacity: 0; 
       transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flyInLeft {
    0% {
       opacity: 0; 
       transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}