@mixin flex($justify, $direction) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin border($color) {
    border: 2px dotted $color;
}