@import '../../scss/variables';
@import '../../scss/mixins';

.dash-main {
    // @include border(blue);
    @include flex(space-between, row);
    align-items: flex-start;
    height: 100vh;
    padding: 0 7%;
    padding-top: 150px;
}

.budget {
    // @include border(purple);
    @include flex(flex-start, column);
    align-items: flex-start;
    height: calc(100vh - 150px);
    width: 750px;
    overflow: scroll;
    text-align: left;
    padding: 20px;
}

.transactions {
    // @include border(orange);
    height: calc(100vh - 150px);
    width: 400px;
    overflow: scroll;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
    padding: 20px;
}

.trans-head{
    @include border(green);
    @include flex(space-between, row);
}

.add-new {
    @include flex(space-between, row);
    cursor: pointer;
}

.trans-type {
    @include flex(space-around, row);
}

.add-group {
    width: 100%;
    padding: 10px 0;
}

.empty {
    // @include border(green);
    margin-top: 20px;
    width: 100%;
}

.trans-list {
    @include flex(flex-start, column);
}